---
import Layout from "../layouts/Layout.astro";
// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);
---

<Layout title="Blog">
  <main>
    <section>
      <h1>Blog</h1>
      <ul>
        {
          posts.map((post) => (
            <>
              <li>
                <time datetime={post.frontmatter.pubDate}>
                  {new Date(post.frontmatter.pubDate).toLocaleDateString(
                    "en-us",
                    {
                      year: "numeric",
                      month: "short",
                      day: "numeric",
                    }
                  )}
                </time>
                <a href={post.url}>{post.frontmatter.title}</a>
              </li>
              <br />
            </>
          ))
        }
      </ul>
    </section>
  </main>
</Layout>

<style>
  h1 {
    margin-bottom: 3rem;
  }
  main {
    width: 100%;
  }

  li {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
</style>
