---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Recruiter">
  <main>
    <section>
      <h1>FAQ</h1>
      <ul>
        <li>
          <details>
            <summary>Can you work in the US without sponsorship?</summary>
            Yes
          </details>
        </li>
        <li>
          <details>
            <summary>Where are you located?</summary>
            Fort Lauderdale, FL
          </details>
        </li>
      </ul>
        <h1>Resume</h1>
        <p>👉 <a href="/ResumeBB.pdf" download>Download</a>(pdf)</p>
        <iframe
          id="inlineFrameExample"
          title="calendly"
          src="https://calendly.com/bjbagher"
        >
        </iframe>
    </section>
  </main>
</Layout>

<style> 

  h1 {
    margin-bottom: 2rem;
  }
  details {
    padding: 0rem 1em;
  }

  li {
    margin: 1rem 0;
  }

  details summary {
    margin-bottom: 1rem;
  }
  details[open] {
    padding: 1rem 1rem;
    margin: -1rem 0rem;
  }

  iframe {
    margin-top: 2rem;
  }
</style>
