---
export interface Props {
  imgSrc: string;
  altTxt: string;
}

const { imgSrc, altTxt } = Astro.props;
---

<div class="avatar">
  <img class="avatar__image" src={imgSrc} alt={altTxt} />
</div>

<style>
  .avatar__image {
    border-radius: 50%;
    height: 20rem;
    width: 20rem;
  }
</style>
