---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive =
  href === pathname ||
  href === pathname.replace(/\/$/, "") ||
  href === `/${pathname.split("/")[1]}`;
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
  <slot />
</a>

<style>
  a {
    text-decoration: none;
    color: #282a36;
  }

  a:last-child {
    padding-right: 0;
  }
  a.active {
    font-weight: bolder;
    text-decoration: underline;
  }
</style>
