---
import HeaderLink from "./HeaderLink.astro";
---

<header>
    <nav>
        <HeaderLink href="/">Home</HeaderLink>
        <HeaderLink href="/blog">Blog</HeaderLink>
        <HeaderLink
            href="https://www.linkedin.com/in/bjbagher/"
            target="_blank"
        >
            Linkedin
        </HeaderLink>
        <HeaderLink href="https://github.com/bjbagher" target="_blank">
            GitHub
        </HeaderLink>
    </nav>
</header>

<style>
    header {
        white-space: nowrap;
        max-width: 30ch;
        margin: 0 auto;
        margin-top: 5vh;
    }

    nav {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
        width: 35ch;
    }
</style>
