---
import HeaderLink from "./HeaderLink.astro";
---

<header>
  <nav>
    <HeaderLink href="/">Home</HeaderLink>
    <HeaderLink href="/blog">Blog</HeaderLink>
    <HeaderLink href="https://www.linkedin.com/in/bjbagher/" target="_blank">
      Linkedin
    </HeaderLink>
    <HeaderLink href="https://github.com/bjbagher" target="_blank">
      GitHub
    </HeaderLink>
  </nav>
</header>

<style>
  header {
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5vh auto;
  }

  nav {
    width: fit-content;
  }
</style>
