---
import HeaderLink from "./HeaderLink.astro";
---

<header>
  <nav>
    <ul>
      <li>
        <HeaderLink href="/">Home</HeaderLink>
      </li>
      <li>
        <HeaderLink href="/blog">Blog</HeaderLink>
      </li>
      <li>
        <HeaderLink
          href="https://www.linkedin.com/in/bjbagher/"
          target="_blank"
        >
          Linkedin
        </HeaderLink>
      </li>
      <li>
        <HeaderLink href="https://github.com/bjbagher" target="_blank">
          GitHub
        </HeaderLink>
      </li>
    </ul>
  </nav>
</header>

<style>
  header {
    font-size: 1.5rem;
    width: inherit;
    margin-bottom: 2rem;
  }

  ul {
    display: flex;
    justify-content: space-between;
  }
</style>
